# Git
.git
.gitignore

# Python
__pycache__
*.pyc
*.pyo
*.pyd
.Python
env
pip-log.txt
pip-delete-this-directory.txt
.tox
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
*.log
.pytest_cache
.mypy_cache

# Environments
.env
.venv
venv/

# IDEs
.vscode
.idea

# Project specific
outputs/
tests/
docs/
examples/
*.md
!README.md
